In [5]:
#importing
import pandas as pd
import numpy as np
import torch

In [6]:
# File to Load
value_add = "value_add_kabao.csv"

In [27]:
# Import the data into a Pandas DataFrame
data_df = pd.read_csv(value_add)
data_df.head(10)

,0BILL_TYPE___T,0FISCYEAR,0DIVISION___T,Transactoin State,Material Level 2,Material Level 3,Material Group,Material Grade,Plant Nbr,Ship To City,...,Ship To State,Ship To Region,Ship To Country,Cal_Quarter_text,Fiscal_Year_Period_Text,Product ID,Date,Mill_Amount_in_SC,Qty_in_Conv_Vol,ASP
0,DOMESTIC INVOICE,2016,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1010.0,DULUTH,...,Georgia,SOUTHEAST,US,2016.Q3,2016.08,39947,2016.08.25,7869.31,35,224.84
1,DOMESTIC INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1025.0,CHARLOTTE,...,North Carolina,MID ATLANTIC,US,2018.Q4,2018.10,39956,2018.10.11,9737.28,36,270.48
2,DOMESTIC INVOICE,2017,OSB,Finished Product,VALUE ADD,OSB TN 350,OSB TN 350,A,1025.0,CHESAPEAKE,...,Virginia,MID ATLANTIC,US,2017.Q4,2017.12,22651,2017.12.15,10884.16,37,294.17
3,DOMESTIC INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1005.0,SCHERTZ,...,Texas,SOUTHWEST,US,2018.Q1,2018.03,39956,2018.03.02,13598.50,36,377.74
4,DOMESTIC INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB TN 350,OSB TN 350,A,1015.0,TUCKER,...,Georgia,SOUTHEAST,US,2018.Q1,2018.02,22651,2018.02.20,11917.67,37,322.10
5,DOMESTIC INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB TN 350,OSB TN 350,A,1025.0,KENNESAW,...,Georgia,SOUTHEAST,US,2018.Q2,2018.05,22651,2018.05.10,12849.09,37,347.27
6,NaN,2020,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1010.0,DAPHNE,...,Alabama,SOUTHEAST,NaN,2020.Q2,2020.05,39945,2020-05-03,2523.44,16,157.72
7,DOMESTIC INVOICE,2014,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1015.0,PLANT CITY,...,Florida,SOUTHEAST,US,2014.Q3,2014.09,9100,2014.09.22,24249.34,142,170.77
8,DOMESTIC INVOICE,2015,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1025.0,WAKE FOREST,...,North Carolina,MID ATLANTIC,US,2015.Q4,2015.12,22493,2015.12.15,8201.51,36,227.82
9,DOMESTIC INVOICE,2016,OSB,Finished Product,VALUE ADD,OSB TN 350,OSB TN 350,A,3015.0,HUNTINGTON,...,New York,NORTHEAST,US,2016.Q1,2016.01,31131,2016.01.18,9002.40,37,243.31

In [10]:
# Display a statistical overview of the DataFrame for reference

data_df.describe()

,0FISCYEAR,Plant Nbr,Fiscal_Year_Period_Text,Product ID,Mill_Amount_in_SC,Qty_in_Conv_Vol,ASP
count,219230.000000,219229.000000,219230.000000,2.192300e+05,219230.000000,219230.000000,219197.000000
mean,2016.797103,1068.844587,2016.858932,1.025325e+05,9635.424578,39.112352,247.450338
std,1.851334,223.871179,1.848914,1.208147e+07,8662.718726,34.382183,68.878920
min,2014.000000,1005.000000,2014.010000,6.670000e+02,-84349.440000,-325.000000,-1365.560000
25%,2015.000000,1010.000000,2015.090000,2.265100e+04,6812.660000,35.000000,204.000000
50%,2017.000000,1020.000000,2017.050000,2.476200e+04,8526.570000,36.000000,238.270000
75%,2018.000000,1025.000000,2018.100000,3.995600e+04,11008.220000,37.000000,284.220000
max,2021.000000,3015.000000,2021.060000,2.000050e+09,283114.950000,1086.000000,8089.000000

In [12]:
# Check to see if there are any incomplete rows
data_df.count()

0BILL_TYPE___T             215158
0FISCYEAR                  219230
0DIVISION___T              219230
Transactoin State          219230
Material Level 2           219230
Material Level 3           219230
Material Group             219230
Material Grade             219225
Plant Nbr                  219229
Ship To City               219230
Ship To County             206097
Ship To State              219230
Ship To Region             219222
Ship To Country            215070
Cal_Quarter_text           219230
Fiscal_Year_Period_Text    219230
Product ID                 219230
Date                       219230
Mill_Amount_in_SC          219230
Qty_in_Conv_Vol            219230
ASP                        219197
dtype: int64

In [14]:
# Calculate the Number of Unique Diagnosis Related Groups (DRGs): 
Unique_material = len(data_df["Material Level 2"].unique())
Unique_material

1

In [15]:
# Calculate the Number of Unique Diagnosis Related Groups (DRGs): 
Unique_state_count = len(data_df["Ship To State"].unique())
Unique_state_count

59

In [16]:
Unique_city_count = len(data_df["Ship To City"].unique())
Unique_city_count

1634

In [29]:
Unique_Material_Grade = len(data_df["Material Grade"].unique())
Unique_Material_Grade

4

In [17]:
data_df.dtypes

0BILL_TYPE___T              object
0FISCYEAR                    int64
0DIVISION___T               object
Transactoin State           object
Material Level 2            object
Material Level 3            object
Material Group              object
Material Grade              object
Plant Nbr                  float64
Ship To City                object
Ship To County              object
Ship To State               object
Ship To Region              object
Ship To Country             object
Cal_Quarter_text            object
Fiscal_Year_Period_Text    float64
Product ID                   int64
Date                        object
Mill_Amount_in_SC          float64
Qty_in_Conv_Vol              int64
ASP                        float64
dtype: object

In [61]:
# # Cacluate the average covered charges amount
# Average_mill_amount = data_df["Mill_Amount_in_SC"].mean()
# Average_mill_amount

In [62]:
# #Average plant Nbr
# Average_plant_nbr = data_df["Plant Nbr"].mean()
# Average_plant_nbr

In [63]:
# #Average ASP
# Average_ASP = data_df["ASP"].mean()
# Average_ASP

In [64]:
#Sum of Mill Amount
Mill_Amount_Count = (data_df["Mill_Amount_in_SC"].sum())
Mill_Amount_Count

2112374130.27

In [65]:
#Sum of Plant nbr
Plant_NBR_Count = (data_df["Plant Nbr"].sum())
Plant_NBR_Count

234321730.0

In [66]:
#Sum of ASP
ASP_Count = (data_df["ASP"].sum())
ASP_Count

54240371.78

In [67]:
# Create a summary data frame to hold the Analysis Results

Unique_Analysis_df = pd.DataFrame([
    {"Unique Material": Unique_material, 
     "Unique State Count": Unique_state_count, 
     "Unique City Count": Unique_city_count, 
     "Unique Material Grade": Unique_Material_Grade, 
#      "Unique Regions": Unique_Hospital_Referral_Region_count,
#      "Total Discharge Count": Discharge_Count,
     "Average Charge": Average_mill_amount,

    }
])
Unique_Analysis_df

,Unique Material,Unique State Count,Unique City Count,Unique Material Grade,Average Charge
0,1,59,1634,4,9635.424578

In [68]:
# Filter the data so that only TN data is in the dataframe

DataFrame_TN = data_df.loc[data_df["Ship To State"] == "Tennessee", :]
DataFrame_TN.head()

,0BILL_TYPE___T,0FISCYEAR,0DIVISION___T,Transactoin State,Material Level 2,Material Level 3,Material Group,Material Grade,Plant Nbr,Ship To City,...,Ship To State,Ship To Region,Ship To Country,Cal_Quarter_text,Fiscal_Year_Period_Text,Product ID,Date,Mill_Amount_in_SC,Qty_in_Conv_Vol,ASP
37,DOMESTIC INVOICE,2015,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1015.0,MURFREESBORO,...,Tennessee,SOUTHEAST,US,2015.Q4,2015.10,9100,2015.10.01,7137.72,36,198.27
63,NaN,2020,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1005.0,NASHVILLE,...,Tennessee,SOUTHEAST,NaN,2020.Q2,2020.05,10007,2020-05-09,8500.80,36,236.13
65,DOMESTIC INVOICE,2019,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1621.0,COLUMBIA,...,Tennessee,NATIONAL,US,2019.Q2,2019.06,39960,2019.06.10,3472.03,18,192.89
74,DOMESTIC INVOICE,2019,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1010.0,PIPERTON,...,Tennessee,SOUTHEAST,US,2019.Q4,2019.12,39947,2019.12.03,4024.08,35,114.97
92,DOMESTIC INVOICE,2016,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1010.0,PIPERTON,...,Tennessee,SOUTHEAST,US,2016.Q2,2016.06,39947,2016.06.08,7392.38,35,211.21

In [69]:
# Filter the data so that only TN data is in the dataframe

DataFrame_AK = data_df.loc[data_df["Ship To State"] == "Alaska", :]
DataFrame_AK.head()

,0BILL_TYPE___T,0FISCYEAR,0DIVISION___T,Transactoin State,Material Level 2,Material Level 3,Material Group,Material Grade,Plant Nbr,Ship To City,...,Ship To State,Ship To Region,Ship To Country,Cal_Quarter_text,Fiscal_Year_Period_Text,Product ID,Date,Mill_Amount_in_SC,Qty_in_Conv_Vol,ASP
3412,X-BORDER INVOICE,2016,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1061.0,ANCHORAGE,...,Alaska,NORTHWEST,US,2016.Q1,2016.01,24761,2016.01.07,6592.32,39,169.03
3679,X-BORDER INVOICE,2017,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1066.0,ANCHORAGE,...,Alaska,NORTHWEST,US,2017.Q3,2017.08,39948,2017.08.10,1949.11,6,324.85
6356,X-BORDER INVOICE,2015,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1061.0,ANCHORAGE,...,Alaska,NORTHWEST,US,2015.Q2,2015.05,24761,2015.05.22,5275.20,39,135.26
7143,X-BORDER INVOICE,2016,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1061.0,ANCHORAGE,...,Alaska,NORTHWEST,US,2016.Q3,2016.08,39948,2016.08.15,8448.91,39,216.64
8929,DOMESTIC INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB TN 350,OSB TN 350,A,1625.0,ANCHORAGE,...,Alaska,NATIONAL,US,2018.Q3,2018.07,39975,2018.07.30,977.09,3,325.70

In [70]:
# Filter the data so that only AZ data is in the dataframe

DataFrame_AZ = data_df.loc[data_df["Ship To State"] == "Arizona", :]
DataFrame_AZ.head()

,0BILL_TYPE___T,0FISCYEAR,0DIVISION___T,Transactoin State,Material Level 2,Material Level 3,Material Group,Material Grade,Plant Nbr,Ship To City,...,Ship To State,Ship To Region,Ship To Country,Cal_Quarter_text,Fiscal_Year_Period_Text,Product ID,Date,Mill_Amount_in_SC,Qty_in_Conv_Vol,ASP
53,CANCELLATION INVOICE,2017,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1005.0,PHOENIX,...,Arizona,WEST,US,2017.Q1,2017.02,31165,2017.02.21,-39400.70,-141,279.44
66,DEBIT MEMO,2018,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1020.0,PHOENIX,...,Arizona,WEST,US,2018.Q1,2018.02,31165,2018.02.15,39062.02,141,277.04
114,DOMESTIC INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1020.0,PHOENIX,...,Arizona,WEST,US,2018.Q1,2018.01,31165,2018.01.01,37876.61,141,268.63
299,DOMESTIC INVOICE,2016,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1020.0,PHOENIX,...,Arizona,WEST,US,2016.Q1,2016.03,31122,2016.03.23,31836.67,141,225.79
349,X-BORDER INVOICE,2015,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1061.0,PAULDEN,...,Arizona,WEST,US,2015.Q3,2015.08,24762,2015.08.02,9926.23,72,137.86

In [71]:
# Filter the data so that only CA data is in the dataframe

DataFrame_CA = data_df.loc[data_df["Ship To State"] == "California", :]
DataFrame_CA.head()

,0BILL_TYPE___T,0FISCYEAR,0DIVISION___T,Transactoin State,Material Level 2,Material Level 3,Material Group,Material Grade,Plant Nbr,Ship To City,...,Ship To State,Ship To Region,Ship To Country,Cal_Quarter_text,Fiscal_Year_Period_Text,Product ID,Date,Mill_Amount_in_SC,Qty_in_Conv_Vol,ASP
13,DOMESTIC INVOICE,2014,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1795.0,ROCKLIN,...,California,WEST,US,2014.Q4,2014.11,25374,2014.11.14,8769.60,38,230.78
29,DOMESTIC INVOICE,2015,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1800.0,ROCKLIN,...,California,WEST,US,2015.Q4,2015.10,24760,2015.10.20,6767.28,28,241.69
57,DOMESTIC INVOICE,2020,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1020.0,STOCKTON,...,California,WEST,US,2020.Q1,2020.01,31165,2020.01.21,26643.45,141,188.96
60,DOMESTIC INVOICE,2019,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1800.0,ROCKLIN,...,California,WEST,US,2019.Q1,2019.02,39960,2019.02.06,13406.98,57,235.21
93,X-BORDER INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,2041.0,ANDERSON,...,California,WEST,US,2018.Q1,2018.02,31122,2018.02.19,42921.45,151,284.25

In [72]:
# Filter the data so that only ID data is in the dataframe

DataFrame_ID = data_df.loc[data_df["Ship To State"] == "Idaho", :]
DataFrame_ID.head()

,0BILL_TYPE___T,0FISCYEAR,0DIVISION___T,Transactoin State,Material Level 2,Material Level 3,Material Group,Material Grade,Plant Nbr,Ship To City,...,Ship To State,Ship To Region,Ship To Country,Cal_Quarter_text,Fiscal_Year_Period_Text,Product ID,Date,Mill_Amount_in_SC,Qty_in_Conv_Vol,ASP
6905,DOMESTIC INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1066.0,OLDTOWN,...,Idaho,NORTHWEST,US,2018.Q2,2018.05,22942,2018.05.28,8705.72,26,334.84
7931,DOMESTIC INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,E,1066.0,GOODING,...,Idaho,NORTHWEST,US,2018.Q4,2018.12,31187,2018.12.03,2775.32,28,99.12
19718,X-BORDER INVOICE,2019,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,E,1066.0,SAINT MARIES,...,Idaho,NORTHWEST,US,2019.Q1,2019.03,31187,2019.03.22,4328.35,48,90.17
39738,X-BORDER INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1066.0,BOISE,...,Idaho,NORTHWEST,US,2018.Q2,2018.06,39948,2018.06.17,12476.97,39,319.92
92910,CANCELLATION INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1066.0,OLDTOWN,...,Idaho,NORTHWEST,US,2018.Q2,2018.05,39948,2018.05.22,-3377.41,-10,337.74

In [73]:
# Filter the data so that only OR data is in the dataframe
DataFrame_OR = data_df.loc[data_df["Ship To State"] == "Oregon", :]
DataFrame_OR.head()

,0BILL_TYPE___T,0FISCYEAR,0DIVISION___T,Transactoin State,Material Level 2,Material Level 3,Material Group,Material Grade,Plant Nbr,Ship To City,...,Ship To State,Ship To Region,Ship To Country,Cal_Quarter_text,Fiscal_Year_Period_Text,Product ID,Date,Mill_Amount_in_SC,Qty_in_Conv_Vol,ASP
145,X-BORDER INVOICE,2017,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1041.0,BEAVERTON,...,Oregon,NORTHWEST,US,2017.Q4,2017.10,39956,2017.10.15,19484.72,52,374.71
393,DOMESTIC INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1066.0,ALBANY,...,Oregon,NORTHWEST,US,2018.Q3,2018.07,39948,2018.07.31,38227.10,129,296.33
416,DOMESTIC INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB TN 350,OSB TN 350,A,1030.0,PRINEVILLE,...,Oregon,NORTHWEST,US,2018.Q1,2018.02,25441,2018.02.05,34655.85,129,268.65
1105,X-BORDER INVOICE,2016,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1061.0,SALEM,...,Oregon,NORTHWEST,US,2016.Q4,2016.11,39947,2016.11.27,9123.63,46,198.34
1251,DOMESTIC INVOICE,2015,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1061.0,PORTLAND,...,Oregon,NORTHWEST,US,2015.Q1,2015.01,24761,2015.01.25,26075.28,167,156.14

In [74]:
# Filter the data so that only UT data is in the dataframe

DataFrame_UT = data_df.loc[data_df["Ship To State"] == "Utah", :]
DataFrame_UT.head()

,0BILL_TYPE___T,0FISCYEAR,0DIVISION___T,Transactoin State,Material Level 2,Material Level 3,Material Group,Material Grade,Plant Nbr,Ship To City,...,Ship To State,Ship To Region,Ship To Country,Cal_Quarter_text,Fiscal_Year_Period_Text,Product ID,Date,Mill_Amount_in_SC,Qty_in_Conv_Vol,ASP
791,CANCELLATION INVOICE,2014,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1020.0,SALT LAKE CITY,...,Utah,WEST,US,2014.Q4,2014.12,22493,2014.12.15,-30096.00,-142,211.94
1605,X-BORDER INVOICE,2016,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1041.0,SALT LAKE CITY,...,Utah,WEST,US,2016.Q4,2016.12,39955,2016.12.20,5981.41,26,230.05
7929,X-BORDER INVOICE,2015,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1041.0,SALT LAKE CITY,...,Utah,WEST,US,2015.Q4,2015.10,31160,2015.10.02,30396.80,154,197.38
8232,DOMESTIC INVOICE,2019,OSB,Finished Product,VALUE ADD,OSB TechShield,OSB TechShield,A,1020.0,SALT LAKE CITY,...,Utah,WEST,US,2019.Q4,2019.10,39956,2019.10.08,26777.20,144,185.95
8637,X-BORDER INVOICE,2019,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1066.0,SALT LAKE CITY,...,Utah,WEST,US,2019.Q3,2019.07,39947,2019.07.03,18826.24,154,122.25

In [75]:
# Filter the data so that only WA data is in the dataframe

DataFrame_WA = data_df.loc[data_df["Ship To State"] == "Washington", :]
DataFrame_WA.head()

,0BILL_TYPE___T,0FISCYEAR,0DIVISION___T,Transactoin State,Material Level 2,Material Level 3,Material Group,Material Grade,Plant Nbr,Ship To City,...,Ship To State,Ship To Region,Ship To Country,Cal_Quarter_text,Fiscal_Year_Period_Text,Product ID,Date,Mill_Amount_in_SC,Qty_in_Conv_Vol,ASP
109,DOMESTIC INVOICE,2015,OSB,Finished Product,VALUE ADD,OSB TN 350,OSB TN 350,A,1041.0,VANCOUVER,...,Washington,NORTHWEST,US,2015.Q2,2015.04,23763,2015.04.04,20697.60,103,200.95
188,X-BORDER INVOICE,2018,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1066.0,VANCOUVER,...,Washington,NORTHWEST,US,2018.Q3,2018.07,39948,2018.07.04,15569.05,52,299.40
249,X-BORDER INVOICE,2014,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1061.0,TACOMA,...,Washington,NORTHWEST,US,2014.Q3,2014.08,24761,2014.08.15,29848.00,170,175.58
297,X-BORDER INVOICE,2016,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1061.0,VANCOUVER,...,Washington,NORTHWEST,US,2016.Q1,2016.02,22941,2016.02.15,3271.51,21,155.79
318,CANCELLATION INVOICE,2015,OSB,Finished Product,VALUE ADD,OSB Long-Lengths,OSB Long-Lengths,A,1061.0,EVERETT,...,Washington,NORTHWEST,US,2015.Q1,2015.02,22941,2015.02.06,-3671.89,-26,141.23

In [76]:
# Filter the data so that only WY data is in the dataframe

DataFrame_WY = data_df.loc[data_df["Ship To State"] == "Wyoming", :]
DataFrame_WY.head()

Empty DataFrame
Columns: [0BILL_TYPE___T, 0FISCYEAR, 0DIVISION___T, Transactoin State, Material Level 2, Material Level 3, Material Group, Material Grade, Plant Nbr, Ship To City, Ship To County, Ship To State, Ship To Region, Ship To Country, Cal_Quarter_text, Fiscal_Year_Period_Text, Product ID, Date, Mill_Amount_in_SC, Qty_in_Conv_Vol, ASP]
Index: []

[0 rows x 21 columns]